body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

main {
    padding: 1rem;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movie {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    width: 200px;
    text-align: center;
    transition: transform 0.2s;
    cursor: pointer;
}

.movie img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
}

.movie h2 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.movie p {
    color: #666;
    font-size: 0.9rem;
    margin: 0.5rem 0;
    padding: 0 1rem;
}

.movie:hover {
    transform: scale(1.05);
}

.movie-details {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
    margin: 2rem auto;
    max-width: 600px;
    padding: 1rem;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.movie-details.open {
    display: block;
    transform: scale(1);
}

.close-button {
    background-color: #333;
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
}

footer {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
}
